# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Node / frontend
node_modules/
dist/
build/

# IDEs
.idea/
.vscode/

# Cachés
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Sistema operativo
.DS_Store
Thumbs.db
